<template>
	<div>
					<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Products</h1>
					<nav class="d-flex align-items-center">
						<a href="home">Admin<span class="lnr lnr-arrow-right"></span></a>
						<a href="notifications">Products</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
		<h1 class="container">All Products</h1>
		<div class="progress-table-wrap">
			<div class="progress-table container" style="width: 90%">
				<div class="table-head">
					<div class="serial">ID</div>
					<div class="country">Name</div>
					<div class="country">Count</div>
					<div class="country">Price</div>
					<div class="country">Category</div>
					<div class="country">Accept</div>
					<div class="country">Deny</div>
				</div>
				<div class="table-row" v-for="item in products">
					<div class="serial">{{item.id}}</div>
					<div class="country">{{item.name}}</div>
					<div class="country">{{item.count}}</div>
					<div class="country">{{item.price}}</div>
					<div class="country">{{item.category.name}}</div>
					<div class="country" v-if="item.active == 0"><button class="btn btn-success w-100" @click="acceptproduct($event,item.id)">Accept</button></div>
					<div class="country" v-if="item.active == 0"><button class="btn btn-danger w-100" @click="denyproduct($event,item.id)">Deny</button></div>
					<div class="country" v-if="item.active == 1"><button class="btn btn-info w-100">Accepted</button></div>
					<div class="country" v-if="item.active == 1" @click="denyproduct($event,item.id)"><button class="btn btn-danger w-100">Deny</button></div>
					<div class="country" v-if="item.active == 2" @click="acceptproduct($event,item.id)"><button class="btn btn-success w-100">Accept</button></div>
					<div class="country" v-if="item.active == 2"><button class="btn btn-warning w-100">Denyed</button></div>
				</div>

			</div>
		</div>
	</div>
</template>

<script>
	export default{
		data(){
			return{
				products:[]
			}
		},
		created: function(){
			this.axios.post("/api/admin/getAllProducts").then((r)=>{
				this.products = r.data
				console.log(this.products)
			})
		},
		methods:{
			acceptproduct(event,id){
				console.log(id)
				this.axios.post('/api/admin/acceptproduct', {id:id}).then((r)=>{
											
				})
			},
			denyproduct(event,id){
				this.axios.post('/api/admin/denyproduct',{id:id}).then((r)=>{
						
				})
			}
		}
	}
</script>