<template>
	<div>
		<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>New Products</h1>
					<nav class="d-flex align-items-center">
						<a href="home">Admin<span class="lnr lnr-arrow-right"></span></a>
						<a href="notifications">Products</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
		<h1 class="container">New Products</h1>
		<div class="progress-table-wrap">
			<div class="progress-table container" style="width: 90%">
				<div class="table-head">
					<div class="serial">ID</div>
					<div class="country">Name</div>
					<div class="country">Count</div>
					<div class="country">Price</div>
					<div class="country">Category</div>
					<div class="country">Accept</div>
					<div class="country">Deny</div>
				</div>
				<div class="table-row" v-for="item in products">
					<div class="serial">{{item.id}}</div>
					<div class="country">{{item.name}}</div>
					<div class="country">{{item.count}}</div>
					<div class="country">{{item.price}}</div>
					<div class="country">{{item.category.name}}</div>
					<div class="country"><button class="btn btn-success w-100"  @click="acceptproduct($event,item.id)">Accept</button></div>
					<div class="country"><button class="btn btn-danger w-100"  @click="denyproduct($event,item.id)">Deny</button></div>
				</div>

			</div>
		</div>
	</div>
</template>

<script>
	export default{
		data(){
			return{
				products:[]
			}
		},
		created:function(){
			// console.log(this.axios)
			this.axios.get("/api/admin/getProducts").then((r)=>{
				this.products = r.data
			})
		},
		methods:{
			acceptproduct(event,id){
				this.axios.post('/api/admin/acceptproduct', {id:id}).then((r)=>{
					event.target.parentElement.parentElement.remove()
				})
			},
			denyproduct(event,id){
				this.axios.post('/api/admin/denyproduct',{id:id}).then((r)=>{
					event.target.parentElement.parentElement.remove()
				})
			}
		}
	}
</script>