<template>
	<div>
			<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Users</h1>
					<nav class="d-flex align-items-center">
						<a href="home">Admin<span class="lnr lnr-arrow-right"></span></a>
						<a href="notifications">Users</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<h1 class="container">Users</h1> 
	<table class="table table-bordered container">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Surname</th>
			<th>Age</th>
			<th>Email</th>
			<th>Block</th>
			<th>Unblock</th>
			<th>Visit Time</th>
			<th>Minutes Left</th>
			<th>Message</th>
		</tr>
		<tr v-for="user in users">
			<td>{{user.id}}</td>
			<td>{{user.name}}</td>
			<td>{{user.surname}}</td>
			<td>{{user.age}}</td>
			<td>{{user.email}}</td>
			<td>
				<input type="text" name="" placeholder="Time in minutes" style="width: 60%">
				<button class="btn btn-danger" @click="blockUser($event,user.id)">Block</button>
			</td>
			<td>
				<button class="btn btn-success w-100" @click="unblockUser($event,user.id)">Unblock</button>
			</td>
			<td>{{user.logintime}}</td>
			<td v-if="Math.floor((user.blocktime - Date.now()/1000)/60) > 0">{{Math.floor((user.blocktime - Date.now()/1000)/60) }}</td>
			<td v-else>0</td>
			<td><button class="btn btn-success w-100 h-100" @click="message($event,user.id)"><i class="fa fa-envelope"></i></button></td>
		</tr>
	</table>
<!-- 		<div class="progress-table-wrap">
			<div class="progress-table container" style="width: 90%">
				<div class="table-head">
					<div class="serial">ID</div>
					<div class="country">Name</div>
					<div class="country">Surname</div>
					<div class="country">age</div>
					<div class="country">email</div>
					<div class="country">Block</div>
					<div class="country">Unblock</div>
				</div>
				<div class="table-row" v-for="user in users">
					<div class="serial">{{user.id}}</div>
					<div class="country">{{user.name}}</div>
					<div class="country">{{user.surname}}</div>
					<div class="serial">{{user.age}}</div>
					<div class="country">{{user.email}}</div>
					<div class="country"><input type="text" name=""style="width: 20%;"> <button class="btn btn-danger" @click="blockUser($event,user.id)">Block</button></div>
					<div class="serial"><button class="btn btn-danger w-50">Deny</button></div>
				</div>
				
			</div>
		</div> -->
		<div class="messagebox">
			<div class="chatername">
				<p class="closeme" @click="closemessage()">&times;</p>
			</div>
			<hr>
			<div class="mejinna">

			</div>
			<hr>
			<div class="stexgreq" style="position: relative;">
				<input type="text" name="" class="form-control grelu" style="border:none; width:87%;" placeholder="Your message here">
				<button class="btn btn-success senda" style="position: absolute; right: 0; top: 0;" @click="sendmessage($event,user_id)"><i class="fa fa-paper-plane"></i></button>
			</div>
		</div>

	</div>
</template>

<script>
	export default{
		data(){
			return{
				users:[],
				user_id:0
			}
		},
		created:function(){
			// console.log(this.axios)
			this.axios.get("/api/admin/getUsers").then((r)=>{
				// console.log(r)
				this.users = r.data
			})
		},
		methods:{
			blockUser(event,id){
				let a = event.target.previousElementSibling.value
				this.axios.post("/api/admin/blockUser", {id:id,time:a}).then((r)=>{
					console.log(r)
				})
			},
			unblockUser(event,id){
				this.axios.post("/api/admin/unblockUser", {id:id}).then((r)=>{
					console.log(r)
				})
			},
			message(event,id){
				$('.mejinna').empty()
				this.user_id = id
				document.querySelector('.messagebox').style.bottom = '0'
				this.axios.post("/api/admin/getname", {id:id}).then((r)=>{
					$('.usernamesname').remove()
					$('.chatername').append(`<h5 class="usernamesname">${r.data.name} ${r.data.surname}</h5>`)
				})
				let b = $('.userid').val()
				this.axios.post("/api/admin/getmessages", {id:id, myid:b}).then((r)=>{
					console.log('aaaaaaa')
						console.log(r.data)
					r.data.forEach(function(e){
						$(`

							<div class="uxakimes" id="${e.user_id}">
								<p>${e.message}</p>
								<p style="font-size:10px">${e.created_at}</p>
							</div>

							`).appendTo('.mejinna')
					})
					$('.uxakimes').each(function(el) {
		
						if($(this).attr('id') == id){
							$(this).addClass('mymessage')
						}
						else{
							$(this).addClass('hismessage')
						}
						
					});
					console.log(r)

				})
			},
			sendmessage(event,id){
				console.log(id)
				let a = $('.grelu').val()
				let b = $('.userid').val()
					console.log(b)
				this.axios.post('/api/admin/sendmessage',{id:id, message:a, myid:b}).then((r)=>{
					$(`

					<div class="mymessage uxakimes">
						<p>${a}</p>
					</div>


					`).appendTo('.mejinna')
				})
				$('.grelu').val('')
			},
			closemessage(){
				$('.messagebox').css({
					bottom:'-500px'
				})
			}
		}
	}
</script>