.userimage{
	position: absolute;
	width: 150px;
	height: 150px;
	left: 100px;
	bottom: -75px;
	background: rgb(255,154,0);
	background: -webkit-linear-gradient(50deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 100%);
	background: -o-linear-gradient(50deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 100%);
	background: linear-gradient(140deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 100%);
	/*background: red;*/
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	transition: .3s;
}
.poxnk{
	position: absolute;
	/*left: 0;*/
	top: -1px;
	/*display: none;*/
	opacity: 0;
	transition: .3s;
	left: -1px;
	width: 152px;
	height: 152px;
}
.camerayi{
	opacity: 1;
	color: white;
}
.userimage:hover .poxnk{
	/*background: red;*/
	transition: .3s;
	/*display:inline-block;*/
	font-size: 32px;
	color: white;
	opacity: 1;	
/*	background: rgb(255,154,0);
	background: -webkit-linear-gradient(50deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 100%);
	background: -o-linear-gradient(50deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 100%);
	background: linear-gradient(140deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 100%);*/
}
.pbatn{
	background: rgb(255,154,0);
	background: -webkit-linear-gradient(50deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 100%);
	background: -o-linear-gradient(50deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 100%);
	background: linear-gradient(140deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 100%);
	color: white;
	transition: .3s;
}
.pbatn:hover{
	background: rgb(255,154,0);
	background: -webkit-linear-gradient(50deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 50%);
	background: -o-linear-gradient(50deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 50%);
	background: linear-gradient(140deg, rgba(255,154,0,1) 14%, rgba(255,210,73,1) 50%);
	/*color: red;*/
	transition: .3s;
}
.cartik{
	min-height: 100vh;
	border:1px solid gray;
	border-radius: 10px;
}
.rename{
	position: absolute;
	top: -10px;
	right: 10px;
	opacity: 0;
	cursor: pointer;
}
.aosdk:hover .rename{
	opacity: 1;
}