.messagebox{
	position: fixed;
	right: 0;
	bottom: -500px;
	width: 350px;
	height: 450px;
	background: white;
	padding: 10px;
	z-index: 100;
	border-radius: 10px;
	/*display:none;*/
}
.chatername{
	height: 35px;
	position: relative;
}
.mejinna{
	height: 280px;
	overflow-y: scroll;
	padding-right:10px;
}
.stexgreq{
	height: 38px;
}
.closeme{
	position: absolute;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}
.uxakimes{
min-height: 20px;
border-radius: 5px;
/*width: auto;*/
color:"white";
/*max-width: 100%;*/
/*height: auto;*/
}
.uxakimes p{
	width: 100%;
	min-height:20px; 
	word-break: break-word;
	color: white;
}
.hismessage{
	background: rgb(18,221,255);
	background: -webkit-linear-gradient(right, rgba(18,221,255,1) 0%, rgba(182,49,255,1) 48%, rgba(228,0,255,1) 86%);
	background: -o-linear-gradient(right, rgba(18,221,255,1) 0%, rgba(182,49,255,1) 48%, rgba(228,0,255,1) 86%);
	background: linear-gradient(to left, rgba(18,221,255,1) 0%, rgba(182,49,255,1) 48%, rgba(228,0,255,1) 86%);
	padding-left: 10px;
}
.mymessage{
	background: rgb(2,0,36);
	background: -webkit-linear-gradient(right, rgba(2,0,36,1) 0%, rgba(52,52,158,1) 0%, rgba(0,212,255,1) 100%);
	background: -o-linear-gradient(right, rgba(2,0,36,1) 0%, rgba(52,52,158,1) 0%, rgba(0,212,255,1) 100%);
	background: linear-gradient(to left, rgba(2,0,36,1) 0%, rgba(52,52,158,1) 0%, rgba(0,212,255,1) 100%);
	padding-right: 10px;
	text-align: right;
	border-radius: 8px;
}